<!--<h1>Simple Example</h1>-->
<!--<fb-form-builder [data]="exampleOne"></fb-form-builder>-->

<h1>Complete Example</h1>
<fb-form-builder [data]="exampleOne"></fb-form-builder>

<!--<h1>Arrays</h1>-->
<!--<fb-form-builder [data]="arrayExamples"></fb-form-builder>-->

<!--<h1>Page Builder Example</h1>-->
<!--<fb-form-builder [data]="pageBuilderExample"></fb-form-builder>-->

<!--<h1>Form UI Example</h1>-->
<!--<fb-form-builder [data]="formUiExample"></fb-form-builder>-->

<!--<button (click)="updateComponent()">Update</button>-->
<button (click)="save()">Save</button>
